@charset "utf-8";

body {
    font-family: 'Saira Semi Condensed', sans-serif;
}

a {
    transition: 0.3s ease all;
    text-decoration: none;
    color: black;
}

a:hover {
    transition: 0.3s ease all;
    text-decoration: none;
}

img {
    max-width: 100%;
}

.res-img {
    max-width: 100%;
}

.org-copyright {
    color: black;
}

.all-content {
    font-family: 'Saira Semi Condensed', sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: black;
    background: #edf5f5;
}

.header-top {
    background-color: black;
    padding: 10px 0;
}

.header-top .row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-top p {
    display: inline-block;
    color: black;
    font-size: 14px;
    margin: 0;
    line-height: 1.2;
}

.name-shop {
    font-weight: 600;
    font-size: 30px;
}

.contact-top {
    background-color: black;
    display: none;
    text-align: center;
}

.favorite a {
    display: inline-block;
    color: black;
    margin: 0 10px;
}

.favorite a:hover {
    color: black;
}

.favorite a i {
    margin-right: 10px;
}

.value-cions {
    text-align: center;
    position: relative;
}

.value-cion p {
    display: inline-block;
    vertical-align: middle;
    text-align: left;
    margin-left: 10px;
    font-size: 14px;
    color: black;
    font-weight: normal;
    margin-bottom: 0;
}

.fixedWidth {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}

.org-quick-sect {
    border-bottom: 1px solid black;
    border-top: 5px solid black;
    display: inline-block;
    width: 100%;
}

footer h3 {
    color: black;
    font-size: 16px;
    font-weight: 800;
    letter-spacing: 1.5px;
    line-height: 100%;
    margin-bottom: 18px;
    margin-top: 0;
    text-align: center;
    text-transform: uppercase;
}
